.small-logo {
    width: 42px;
    height: 32px;
}

.small-logo>img {
    width: 100%;
}

.big-logo {
    display: none;
}

.background-color-cerca {
    background-color: #e5e5e5;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}


.row-main-content>.main-dashboard {
    padding-left: 0;
}

.dashboard-header .badge {
    background-color: var(--bs-link-hover-color);
    padding: 0.6em;
}

table .fa-code {
    background-color: var(--bs-orange);
    padding: 1rem 0.5rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 0px;
}

table .btn {
    border: 1px solid #5b5858;
    vertical-align: middle;
}

table .btn svg {
    vertical-align: baseline;
}

.dropdown-toggle::after {
    display: none;
}

table .badge {
    width: 60px;
}

.font-size {
    font-size: 14px;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0;
}

@media screen and (min-width: 992px) {
    .big-logo {
        display: inline-block;
    }

    .small-logo {
        display: none;
    }

}